body {
	font-weight: 600;
}
.navbar-nav .nav-item .nav-link {
	transition: all 0.6s;
}
.navbar-nav .nav-item .nav-link:hover {
	color: aliceblue;
}
p {
	text-align: justify;
}
@media (max-width: 575px) {
	.container {
		padding: 0 15vw;
	}
}
